.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; /* Adjust the height as needed */
  object-fit: cover;
}
.img-fluid {
  height: 70px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 70px;
  margin: 20px;
}
.content-container {
  margin-top: 20px; /* Adjust the margin as needed */
  padding: 20px; /* Add padding for better spacing */
}
.card {
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1); /* Light outline to distinguish from background */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  /* transform: scale(1.1); */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}
.data {
  padding: 20px;
}
/* Check and remove any hover blur styles */
